:root{
    --primary-color : #fff;
    --secondary-color : #1e1e1e;
    --background-color-box-light:#fff;
    --background-color-box-dark:rgb(60, 59, 59);
    --navbar-bg-color: rgba(153, 153, 153, 0.508);
    --input-bg-color: #fff;
    --main-color:#0d6efd;
}

@keyframes fadeIn{
    0% { opacity: 0;
        margin-left: 0;
    }
  100% { opacity: 1; 
    }
}

.light_theme{
    --primary-color : #fff;
    --secondary-color : #1e1e1e;
    --background-color-box-light: #fff;
}

.dark_theme{
    --primary-color : #1e1e1e;
    --secondary-color : #fff;
    --background-color-box-light: rgb(60, 59, 59);
    --input-bg-color:rgb(83, 81, 81);
    --navbar-bg-color: rgba(140, 140, 140, 0.5);
}

#icon_dark i.black{
    color: var(--secondary-color);
}

#icon_dark i.white{
    color: var(--primary-color);
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Rockwell';
}
body{
    background: var(--primary-color);
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
}

ul{
    list-style: none;
}

a:hover{
    text-decoration: none;
    font-size: 1rem;
    color: #0d6efd;
}



.header{
    background-image:  url(../img/domino.png), url(../img/domino.png), url(../img/domino.png);
    background-repeat:  no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: left, center, right;
    background-size: 200px, 200px, 200px;
    height: 300px;
}

.profile_picture{
    display: none;
}

.header .hero{
    margin-top: 150px;
}



.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky{
    background-color: var(--navbar-bg-color);
    backdrop-filter: blur(35px);
    position: fixed;
    box-shadow: 2.5px 2.5px 2.5px rgba(55, 55, 55, 0.934);
}

.navbar .logo h1{
    margin-left: 15px;
    color: var(--secondary-color);
}

.navbar .links{
    display: flex;
    gap:2rem;
}
.navbar .links a{
    font-weight: bold;
}

.navbar .select_theme{
    margin-right: 15px;
    border-radius: 20px;
}

.navbar .select_theme a{
    color: var(--primary-color);
}

.navbar .action_btn i{
    color: var(--primary-color);
}

.navbar .toggle_btn{
    color: var(--secondary-color);
    font-size: 40px;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.action_btn{
    background-color: var(--main-color);
    color: #fff;
    padding:0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    transform : scale 1.2;
    color: #fff;
    box-shadow: rgba(255, 255, 255, 1.5);
}

.dropdown_menu{
    display: none;
    position: absolute;
    top : 85px;
    right: 2rem;
    padding: 1.5rem;
    width: 300px;
    height: 0;
    background-color: rgba(153, 153, 153, 0.508);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .select_theme{
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.dropdown_menu .select_theme a{
    color: var(--primary-color);
    cursor: pointer;
}

.dropdown_menu.open{
    animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: block;
    background-color: rgba(153, 153, 153, 0.508);
    height: auto;
    position: fixed;
}

.br{
    display: none;
}

main{
    margin-bottom: 30px;
    width: 100%;
}

main .skills{
    display:block;
    margin-top: 30px;
}

main .skills h1{
    margin-bottom: 15px;
    color: var(--secondary-color);
    text-align: center;
}
main .skills p{
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.languages{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.language{
    display: flex;
    border: solid 0.3px #d9d9d9;
    border-radius: 10px;
    background-color: var(--background-color-box-light);
    justify-content: space-between;
    box-shadow: 3px 3px 3px gray;
    gap:2rem;
}

.language:hover{
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 8px 8px 8px gray;
}

.language .name{
    color: var(--secondary-color);
}


.language .logo img{
    height: 100px;
    margin-left: 10px;
}

.language .name{
    margin-right: 15px;
    height: auto;
    margin-top: 30px;
}

#projects{
    background-image: url(../img/section2_bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    margin: 0;
}

#projects .projects{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content:center;
    height: auto;
}

#projects h1{
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

#projects .projects .project{
    width: 400px;
    border: solid 0.5px #d9d9d9;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    background-color: var(--background-color-box-light);
}

#projects .projects .project img{
    border-radius: 15px 15px 0 0;
    height: 200px;
    width: 400px;
}

#projects .projects .project .name{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#projects .projects .project .description{
    text-align: center;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

#projects .projects .project .more_infos{
    text-align: center;
    margin-bottom: 10px;
}

#projects .projects .project .more_infos i:hover{
    margin-left: 5px;
}

#projects .projects .project .footer_project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 15px;
}

#projects .projects .project .footer_project .tech{
    margin: 0 5px;
    cursor: pointer;
    border: dashed 1.5px #d9d9d9;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
}

#projects .projects .project .footer_project .tech:hover{
    box-shadow: none;
}

#projects .projects .project .footer_project .tech i{
    padding: 0 5px;
    color: var(--secondary-color);
}

main .contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

main .contact .info h2, section .contact .info p{
    color: var(--secondary-color);
}

main .contact .info{
    min-width: 500px;
    background-color: var(--background-color-box-light);
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 0;
}

main .contact .info .img{
    height: 300px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .contact .info h2, main .contact .info p{
    color: var(--secondary-color);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

main .contact .info .social{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

main .contact .info .social a{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

main .contact .info .social a i{
    height: 100px;
}

main .contact form{
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--background-color-box-light);
    box-shadow: 5px 5px 5px gray;
}

main .contact form .first_data{
    display: flex;
    gap: 15px;
    justify-content: center;
}
main .contact form .first_data .text_input{
    width: 215px;
}

main .contact form .other_data{
    display: flex;
    justify-content: center;

}
main .contact form .other_data .text_input, #send_message{
    width: 450px;
}
main .contact form .other_data .form_block{
    display: block;
}

textarea{
    background-color: var(--input-bg-color);
}

main .contact form .text_input{
    height: 50px;
    margin: 8px 0;
    width: 200px;
    font-size: 20px;
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 15px;
    background-color: var(--input-bg-color);
    border: groove 0.5px var(--secondary-color);
}

form label{
    color: var(--secondary-color);
}

#send_message{
    margin: 8px 0;
    padding: 5px;
    border-radius: 15px ;
    border: groove 0.5px var(--secondary-color);
}

#send_btn{
    display: flex;
    justify-content: center;
}
#send_btn button{
    margin-top: 15px;
    cursor: pointer;
}
@media(max-width: 500px){
    .hero{
       margin-top: 150px;
       width: 600px;
       display: flex;
       justify-content: center; 
    }
    
}
@media(max-width: 300px){
    
    
}

@media(max-width: 850px){
    .header{
        background-image: url(../img/domino.png);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size: 300px;
        height: 200px;
    }
    
}

@media(max-width: 800px){
    .navbar .links, 
    .navbar .action_btn,
    .navbar .select_theme{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: none;
    }
}

@media(max-width:560px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

@media(max-width:650px){
    main{
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media(max-width:450px){
    .hero .text_hero{
        width: 500px;
    }

    .header{
        width: 600px;
        background-size: 100px, 100px, 100px;
        background-position: center;
    }
    .skills{
        top: 80px;
        width: 600px;
        display: flex;
        justify-content: center;
    }
    #projects{
        width: 600px;
    }
    #contact{
        width: 600px;
    }

    .profile_picture{
        display: flex;
        justify-content: center;
        margin-top: 80px;

    }
    
    .profile_picture img{
        height: 200px;

    }
    .hero{
        display: grid;
        justify-content: center;
    }
    .header .hero{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .br{
        display: block;
        margin-top: 150px;
    }
}

